.background{
background-color: rgb(219, 179, 152);

}
.tela1{
align-items: center;
text-align: center;
justify-content: center;
margin-top: 17%;
width: 270px;
height: 170px;
margin-left: 40%;
border-radius: 10px;

}
.email{
    border-radius: 10px;
    height: 40px;
}